%table.char
  %tbody
    %tr.line
      %td.tab Other
    %tr
      %td
        Birth:
        = @character['birth'].strftime("%B %d, %Y at %H:%M:%S %Z")
    %tr
      %td= "Deaths: #{@character['deaths']}"