%span Players
%form{:action => '/search', :method => 'get'}
  %select{:name => 'server', :value => params[:server]}
    - ["All Servers", "Darktide", "Frostfell", "Harvestgain", "Leafcull", "Morningthaw", "Thistledown", "Solclaim", "Verdantine", "WintersEbb", "Reefcull", "Hightide", "Harvestbud"].each do |s|
      - if params[:server] && params[:server] == s
        %option{:value => s, :selected => true}= s
      - else
        %option{:value => s}= s

  %input{:name => 'character', :type => 'text', :value => params[:player]}
  %input{:type => 'submit'}

%span Allegiances
%form{:action => '/search', :method => 'get'}
  %select{:name => 'server', :value => params[:server]}
    - ["All Servers", "Darktide", "Frostfell", "Harvestgain", "Leafcull", "Morningthaw", "Thistledown", "Solclaim", "Verdantine", "WintersEbb", "Reefcull", "Hightide", "Harvestbud"].each do |s|
      - if params[:server] && params[:server] == s
        %option{:value => s, :selected => true}= s
      - else
        %option{:value => s}= s

  %input{:name => 'allegiance', :type => 'text', :value => params[:allegiance]}
  %input{:type => 'submit'}
