%span Search defaults to filtering by character name and supports partial matching.
%br
%br
%span You may also search using a Google-like syntax following the form <code>field:value</code>, e.g., <code>level:275</code>.
%br
%br
%span The full list of special fields you can use this syntax with are:

%ul{:style => "margin-bottom: 0.25em;"}
  %li name
  %li server
  %li race
  %li gender
  %li level
  %li rank
  %li allegiance_name
