%table.char
  %tbody
    - if @character.current_title && @character.titles
      - @character.titles.each do |t|
        %tr
          %td
            - if t == @character.current_title
              %span.current_title= TitleHelper::get_title_name(t)
            - else
              %span= TitleHelper::get_title_name(t)
    - else
      %tr
        %td No titles.