%table.char
  %tbody
    %tr.colnames
      %td Name
    - if @character.current_title && @character.titles
      - TitleHelper::sorted_titles(@character.titles).each do |title|
        %tr
          %td
            - if title == TitleHelper::get_title_name(@character.current_title)
              %span.current_title= title
            - else
              %span= title
    - else
      %tr
        %td No titles.