#tree
  %span.overlaytext You can scroll to zoom and drag to pan. Click on a character to navigate to their character page.

%script{:src => '/js/d3.min.js'}
%script{:src => '/js/tree.js'}

:javascript
  var tokens = window.location.href.split("/"),
      request_url = ["/tree/", tokens[tokens.length - 2], "/", tokens[tokens.length - 1]].join("");

  var server_name = tokens.length == 5 ? tokens[tokens.length - 2] : null;
  var player_name = tokens.length == 5 ? decodeURIComponent(tokens[tokens.length - 1]) : null;

  d3.json(request_url, function(error, json) {
    draw('#tree', json, server_name, player_name, {
      width: 592,
      height: 600
    });
  });