%h2.title About TreeStats

%h3 What is TreeStats?

%p
  TreeStats is a
  %a{:href => "http://www.decaldev.com"} Decal
  plugin and associated website for
  %a{:href => "http://turbine.com"} Turbine's
  %a{:href => "http://www.asheronscall.com/"} Asheron's Call
  = ". It uploads information about characters you log into with the plugin running, such as:"

%ul
  %li General information (Name, race, level, etc.)
  %li Attributes, skills, and titles
  %li Augmentations, ratings, and other miscellaneous information

%p
  Only the information your character knows about (itself, its monarch/patron/vassal names) will be uploaded. You won't get information about players your see while playing (i.e., it doesn't get information on the players you inspect or are near). For monarch/patron/vassals, only name, race, and rank are collected.

%p
  This website adds a few features on top of the data the plugin collects:

%ul
  %li
    %a{:href => "/player_counts"} Server population counts
  %li Each characters' allegiance chain (so far as they are known by TreeStats)
  %li Each allegiance's tree (so far as it's known by TreeStats)
  %li Rankings for statistics of interest (i.e. level, character age, War Magic skill level)

%h3 What should I do now that I'm here?

%p
  If you play AC and want your characters' information to be available offline and to the public, go
  %a{:href => "/download"} download
  and install TreeStats.

%h3 What if TreeStats.net shuts down?

%p
  I believe strongly in trying to keep websites running for as long as possible. You are uploading information about your characters and allegiances which you've spent countless hours building and TreeStats may be your last artifact of that investment.

%p
  To that end, I intend to keep TreeStats.net up and running for as long as possible. So long as private servers are operating, I plan to keep the site running as it stands now. If a time comes when no private servers are running, I will first convert the website to a purely static one to reduce hosting costs (~$10/mo now) while keeping the site available for viewing. If ever a time comes where I can no longer pay for the domain name, I will find some place for the community to download all data.
