%h2.title Allegiances

- if @allegiances.count == 0
  %span No allegiances found.
- else
  %span Not fully implemented yet.
  %ul
    - @allegiances.each do |a|
      %li
        = "#{a.server} - #{a.name}"
