%h2.title Allegiances

- if @allegiances.count == 0
  %span No allegiances found.
- else
  %ul
    - @allegiances.each do |a|
      %li
        %a{:href => "/allegiances/#{a.server}-#{a.name}"}= "#{a.name} (#{a.server})"
