%h2.title Download TreeStats

%a{:href => 'https://github.com/amoeba/treestats/releases'} Download the latest release (@GitHub)

%p There is no installer for TreeStats. The download link above links directly to a DLL file. If you don't know what to do with this file, here's what I suggest you do to get TreeStats working:

%ol
  %li Download the above DLL to your computer
  %li Make a folder in a good, permanent place for the plugin to live. On my system, I store plugins under C:\AC\Plugins, so I'd make a folder at C:\AC\Plugins\TreeStats.
  %li Open Decal from your System Tray, click the Add button, then the Browse button.
  %li From the file dialog that pops up in the last step, browse to where you've stored TreeStats.dll and click Save.
  %li Verify that TreeStats now shows up in your plugin list.

%p If you have any trouble with this, please get in touch with me.

%p Releases of TreeStats are stored on SourceForge. I store them here because storage is free. Please let me know if you have any problems.