%h2.title Download Treestats

%a{:href => 'https://sourceforge.net/projects/treestats/files/TreeStats.dll/download'} Download the latest release

%p There is no installer for Treestats. The download link above links directly to a DLL file. If you don't know what to do with this file, here's what I suggest you do to get Treestats working:

%ol
  %li Download the above DLL to your computer
  %li Make a folder in a good, permanent place for the plugin to live. On my system, I store plugins under C:\AC\Plugins, so I'd make a folder at C:\AC\Plugins\Treestats.
  %li Open Decal from your System Tray, click the Add button, then the Browse button.
  %li From the file dialog that pops up in the last step, browse to where you've stored Treestats.dll and click Save.
  %li Verify that Treestats now shows up in your plugin list.

%p If you have any trouble with this, please get in touch with me.

%p Releases of Treestats are stored on SourceForge. I store them here because storage is free. Please let me know if you have any problems.