%h2.title Welcome to TreeStats

-# #dashboard
-#   %table.dashboard
-#     %thead
-#       %tr.title
-#         %td{:colspan => 2} TreeStats Stats
-#     %tbody
-#       %tr.subtitle
-#         %td{:colspan => 2} General Statistics
-#       %tr
-#         %td Tracked Characters
-#         %td= add_commas(@character_count.to_s)
-#       %tr
-#         %td Tracked Allegiances
-#         %td= add_commas(@allegiance_count.to_s)
-#       %tr.subtitle
-#         %td{:colspan => 2} Characters By Server
-#       - @server_counts.each do |s,c|
-#         %tr
-#           %td= s
-#           %td= add_commas(c.to_s)
-#
-#
-#
-#   - if @most_titles && @most_titles.count > 0
-#     %table.dashboard
-#       %thead
-#         %tr.title
-#           %td{:colspan => 3} Most Titles
-#         %tr
-#           %th Name
-#           %th Server
-#           %th Titles
-#       %tbody
-#         - @most_titles.each do |character|
-#           %tr
-#             %td
-#               %a{:href => "/#{character["s"]}/#{character["n"]}"}= character["n"]
-#             %td= character["s"]
-#             %td= add_commas(character["num_titles"].to_s)
-#
-#   - if @most_deaths && @most_deaths.count > 0
-#     %table.dashboard
-#       %thead
-#         %tr.title
-#           %td{:colspan => 3} Most Deaths
-#         %tr
-#           %th Name
-#           %th Server
-#           %th Deaths
-#       %tbody
-#         - @most_deaths.each do |character|
-#           %tr
-#             %td
-#               %a{:href => "/#{character["s"]}/#{character["n"]}"}= character["n"]
-#             %td= character["s"]
-#             %td= add_commas(character["deaths"].to_s)


%table.dashboard
  %thead
    %tr.title
      %td Daily Uploads
  %tbody
    %td#dailyuploads.dashboard.statchart
      %script{:type => "text/javascript", :src => javascript_path('d3.min.js')}
      %script{:type => "text/javascript", :src => javascript_path('statchart.js')}
      :javascript
        d3.json("/stats/uploads/daily", function(error, json) {
          if (error) return console.warn(error);
          statchart.add("#dailyuploads", json, "%Y%m%d");

        })


%h2 News

%div
  %p
    Update <code>2015-12-29 0500 UTC</code>:
  %p
    I've decided to start putting updates here on the front page instead if hiding them away in commit messages. Here are a few updates:

    %ul
      %li Added a subheader to the top of the website so Google shows something useful.
      %li Extracted the introductory text from the front page into its own page: <a href="/about">http://treestats.net/about</a>.
      %li Wrote up a small section on the pseudo-API for TreeStats at <a href="/api">http://treestats.net/api</a>.
      %li Removed the monthly uploads chart from the front page and made the daily uploads chart wider.
      %li Made the <a href="/player_counts-latest.json">latest player counts</a> API endpoint pretty-print its output.
      %li Fixed long-standing but in the accounts view for where the 'birth' field wasn't working.
