!!!
%html{:lang => 'en'}
  %head
    %title TreeStats3
    %link{:rel => "stylesheet", :type => "text/css", :href => "/styles.css" }
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700", :rel => "stylesheet", :type => 'text/css'}
  %body
    %table
      %tbody
        %tr
          %td#header{:colspan => 2}
            %h1
              %a{:href => "/"} TreeStats
            = haml :_search
        %tr.line
          %td#nav
            = haml :nav
          %td#content
            = yield
        %tr
          %td#footer.center{:colspan => 2} This website created with love by Kolth.
