!!!
%html{:lang => 'en'}
  %head
    %title TreeStats
    %link{:rel => "stylesheet", :type => "text/css", :href => "/styles.css" }
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700", :rel => "stylesheet", :type => 'text/css'}
  %body
    %table
      %tbody
        %tr
          %td{:colspan => 2}
            %table
              %tbody
                %tr#header
                  %td#title
                    %h1
                      %a{:href => "/"} TreeStats
                  %td#misc= haml :misc
                %tr
                  %td#search
                    = haml :_search
                  %td#download
                    Download:
                    %a{:href => "/download"} Latest Release
          


        %tr.line
          %td#nav
            = haml :nav
          %td#content
            = yield
        %tr
          %td#footer.center{:colspan => 2} This website created with love by Kolth.
          %td#footer.center{:colspan => 2} This website created with love by <a href="https://github.com/amoeba">Kolth</a>.
