!!!
%html{:lang => 'en'}
  %head
    %title TreeStats: Player tracking for Asheron's Call

    - if request.path_info == '/'
      %meta{:name => "Title", :content => "TreeStats: Player tracking for Asheron's Call"}
      %meta{:name => "Description", :content => "TreeStats records ingame data from your characters using a Decal plugin and stores it for convenient out-of-game browsing. TreeStats lets you view your characters and allegiance chains and also provides rankings and tracks server population counts."}
      %meta{:name => "Image", :content => "http://treestats.net/treestats-meta-image.png"}
      %meta{:name => "URL", :content => "http://treestats.net"}

      %meta{:property => "og:type", :content => "website"}
      %meta{:property => "og:url", :content => "http://treestats.net"}
      %meta{:property => "og:title", :content => "TreeStats: Player tracking for Asheron's Call"}
      %meta{:property => "og:description", :content => "TreeStats records ingame data from your characters using a Decal plugin and stores it for convenient out-of-game browsing. TreeStats lets you view your characters and allegiance chains and also provides rankings and tracks server population counts."}
      %meta{:property => "og:image", :content => "http://treestats.net/treestats-meta-image.png"}

      %meta{:property => "twitter:card", :content => "summary_large_image"}
      %meta{:property => "twitter:url", :content => "http://treestats.net"}
      %meta{:property => "twitter:title", :content => "TreeStats: Player tracking for Asheron's Call"}
      %meta{:property => "twitter:description", :content => "TreeStats records ingame data from your characters using a Decal plugin and stores it for convenient out-of-game browsing. TreeStats lets you view your characters and allegiance chains and also provides rankings and tracks server population counts."}
      %meta{:property => "twitter:image", :content => "http://treestats.net/treestats-meta-image.png"}

    %link{:rel => "stylesheet", :href => stylesheet_path("application") }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    %link{:rel => "icon", :sizes => "32x32", :href => "/favicon-32x32.png"}
    %link{:rel => "icon", :sizes => "16x16", :href => "/favicon-16x16.png"}
  %body
    #links
      %div
        %ul
          %li
            %a{:href => "https://treestats.net", :style => "color: white;"} TreeStats
          %li
            %a{:href => "https://planner.treestats.net", :style => "color: rgb(255, 20, 20);"} Character Planner
          %li
            %a{:href => "https://files.treestats.net", :style => "color: rgb(120, 80, 255);"} Files
      %div.right
        %ul
          %li
            %a{:href => "https://discord.gg/2Npj6FXc", :style => "color: #7289DA"} Discord
          %li
            %a{:href => "/api"} API
          %li
            %a{:href => "/about"} About
          %li
            %a#download-link{:href => "https://github.com/amoeba/treestats/releases"} Download Decal Plugin
    #header
      #title{:colspan => 2}
        %div
          %a{:href => "/"}
            %img{:src => image_path("tree.png"), :height => "48", :alt => "TreeStats.net logo"}
        %span
          Player tracking for
          %a{:href => "http://www.turbine.com/"} Turbine's
          %a{:href => "https://www.asheronscall.com/"} Asheron's Call
    #search= haml :_search
    %main
      #nav= haml :nav
      #content= yield
    #footer
      This website created with love by <a href="https://github.com/amoeba">Kolth</a>.
  %script{:src=> "https://unpkg.com/@popperjs/core@2"}
  %script{:src=> "https://unpkg.com/tippy.js@6"}

  :javascript
    tippy('[data-tippy-content]', {
      allowHTML: true
    });

  <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "841aa24155424425a1a71c4f6acc0dfd"}'></script>
