%h2.title Logs

- if @logs.length < 1
  No logs to display
-else 
  %table
    %thead
      %tr
        %td Time
        %td Title
        %td Message
    %tbody
      - @logs.each do |log|
        %tr
          %td= log.created_at
          %td= log.title
          %td= log.message