TreeStats is open source. Contribute!
%ul
  %li
    %a{:href => "https://github.com/amoeba/treestats.net"}
      %img{:src => "https://img.shields.io/badge/repo-amoeba/treestats.net-blue.svg"}
    %a{:href => "https://github.com/amoeba/treestats.net/issues"}
      %img{:src => "https://img.shields.io/github/issues/amoeba/treestats.net.svg"}
  %li
    %a{:href => "https://github.com/amoeba/treestats"}
      %img{:src => "https://img.shields.io/badge/repo-amoeba/treestats-blue.svg"}
    %a{:href => "https://github.com/amoeba/treestats/issues"}
      %img{:src => "https://img.shields.io/github/issues/amoeba/treestats.svg"}
    %a{:href => "https://github.com/amoeba/treestats/releases/latest"}
      %img{:src => "https://img.shields.io/github/downloads/amoeba/treestats/latest/total.svg"} 