%h2 Navigation

%ul
  %li
    %a{:href => "/"} Front
  %li
    %a{:href => "/servers/"} Servers
  %li
    %a{:href => "/characters/"} Characters
  %li
    %a{:href => '/allegiances'} Allegiances
  %li
    %a{:href => "/player_counts/"} Player Counts

%h2 Servers

%ul
  %li
    %a{:href => "/Darktide/"} Darktide
  %li
    %a{:href => "/Frostfell/"} Frostfell
  %li
    %a{:href => "/Harvestgain/"} Harvestgain
  %li
    %a{:href => "/Leafcull"} Leafcull
  %li
    %a{:href => "/Morningthaw/"} Morningthaw
  %li
    %a{:href => "/Thistledown/"} Thistledown
  %li
    %a{:href => "/Solclaim/"} Solclaim
  %li
    %a{:href => "/Verdantine/"} Verdantine
  %li
    %a{:href => "/WintersEbb/"} WintersEbb

%h2 Attribute Rankings

%form{:action => '/rankings', :method => 'get'}
  %select{:name => 'server'}
    %option{:value => "All"} All Servers
    %option{:value => "Darktide"} Darktide
    %option{:value => "Frostfell"} Frostfell
    %option{:value => "Harvestgain"} Harvestgain
    %option{:value => "Leafcull"} Leafcull
    %option{:value => "Morningthaw"} Morningthaw
    %option{:value => "Thistledown"} Thistledown
    %option{:value => "Solclaim"} Solclaim
    %option{:value => "WintersEbb"} WintersEbb
  %select{:name => 'ranking'}
    %option{:value => 'a.strength.base'} Strength
    %option{:value => 'a.endurance.base'} Endurance
    %option{:value => 'a.coordination.base'} Coordination
    %option{:value => 'a.quickness.base'} Quickness
    %option{:value => 'a.focus.base'} Focus
    %option{:value => 'a.self.base'} Self
    %option{:value => 'vi.health.base'} Health
    %option{:value => 'vi.stamina.base'} Stamina
    %option{:value => 'vi.mana.base'} Mana
  %input{:type => 'submit'}

%h2 Skill Rankings

%form{:action => '/rankings', :method => 'get'}
  %select{:name => 'server'}
    %option{:value => "All"} All Servers
    %option{:value => "Darktide"} Darktide
    %option{:value => "Frostfell"} Frostfell
    %option{:value => "Harvestgain"} Harvestgain
    %option{:value => "Leafcull"} Leafcull
    %option{:value => "Morningthaw"} Morningthaw
    %option{:value => "Thistledown"} Thistledown
    %option{:value => "Solclaim"} Solclaim
    %option{:value => "WintersEbb"} WintersEbb
  %select{:name => 'ranking'}
    %option{:value => 'sk.alchemy.base'} Alchemy
    %option{:value => 'sk.arcane_lore.base'} Arcane Lore
    %option{:value => 'sk.armor_tinkering.base'} Armor Tinkering
    %option{:value => 'sk.assess_creature.base'} Assess Creature
    %option{:value => 'sk.assess_person.base'} Assess Person
    %option{:value => 'sk.cooking.base'} Cooking
    %option{:value => 'sk.creature_enchantment.base'} Creature Enchantment
    %option{:value => 'sk.deception.base'} Deception
    %option{:value => 'sk.dirty_fighting.base'} Dirty Fighting
    %option{:value => 'sk.dual_wield.base'} Dual Wield
    %option{:value => 'sk.fletching.base'} Fletching
    %option{:value => 'sk.finesse_weapons.base'} Finesse Weapons
    %option{:value => 'sk.healing.base'} Healing
    %option{:value => 'sk.heavy_weapons.base'} Heavy Weapons
    %option{:value => 'sk.item_enchantment.base'} Item Enchantment
    %option{:value => 'sk.item_inkering.base'} Item Tinkering
    %option{:value => 'sk.jump.base'} Jump
    %option{:value => 'sk.leadership.base'} Leadership
    %option{:value => 'sk.life_magic.base'} Life Magic
    %option{:value => 'sk.light_weapons.base'} Light Weapons
    %option{:value => 'sk.lockpick.base'} Lockpick
    %option{:value => 'sk.loyalty.base'} Loyalty
    %option{:value => 'sk.magic_efense.base'} Magic Defense
    %option{:value => 'sk.magic_item_tinkering.base'} Magic Item Tinkering
    %option{:value => 'sk.mana_conversion.base'} Mana Conversion
    %option{:value => 'sk.melee_defense.base'} Melee Defense
    %option{:value => 'sk.missile_defense.base'} Missile Defense
    %option{:value => 'sk.missile_weapons.base'} Missile Weapons
    %option{:value => 'sk.recklessness.base'} Recklessness
    %option{:value => 'sk.run.base'} Run
    %option{:value => 'sk.salvaging.base'} Salvaging
    %option{:value => 'sk.shield.base'} Shield
    %option{:value => 'sk.sneak_attack.base'} Sneak Attack
    %option{:value => 'sk.two_handed_combat.base'} Two Handed Combat
    %option{:value => 'sk.void_magic.base'} Void Magic
    %option{:value => 'sk.war_magic.base'} War Magic
    %option{:value => 'sk.weapon_tinkering.base'} Weapon Tinkering
    %option{:value => 'sk.summoning.base'} Summoning
  %input{:type => 'submit'}



%h2 Other Rankings

%form{:action => '/rankings', :method => 'get'}
  %select{:name => 'server'}
    %option{:value => "All"} All Servers
    %option{:value => "Darktide"} Darktide
    %option{:value => "Frostfell"} Frostfell
    %option{:value => "Harvestgain"} Harvestgain
    %option{:value => "Leafcull"} Leafcull
    %option{:value => "Morningthaw"} Morningthaw
    %option{:value => "Thistledown"} Thistledown
    %option{:value => "Solclaim"} Solclaim
    %option{:value => "WintersEbb"} WintersEbb
  %select{:name => 'ranking'}
    %option{:value => 'birth'} Oldest Char
    %option{:value => 'deaths'} Most Deaths
    %option{:value => 'unassigned_xp'} Unassigned XP
  %input{:type => 'submit'}

%h2 More Rankings

%form{:action => '/rankings/titles', :method => 'get'}
  %select{:name => 'server'}
    %option{:value => "All"} All Servers
    %option{:value => "Darktide"} Darktide
    %option{:value => "Frostfell"} Frostfell
    %option{:value => "Harvestgain"} Harvestgain
    %option{:value => "Leafcull"} Leafcull
    %option{:value => "Morningthaw"} Morningthaw
    %option{:value => "Thistledown"} Thistledown
    %option{:value => "Solclaim"} Solclaim
    %option{:value => "WintersEbb"} WintersEbb
  %input.textsubmit{:type => 'submit', :value => "Most Titles"}
  