%h2.title Player Counts

%p
  The graph below shows the maximum number of players seen by day and server.
  This includes bots and isn't an accurate count of the number of people playing
  on each server. For information on how to connect to any of these servers, see the
  %a{:href => "/servers"} Servers
  page.
%p
  Servers:
  - @servers.each do |server|
    %span
      %a{:href => "/player_counts?servers=#{server}"}= server
%p
  %a{:href => "/player_counts-latest.json"} Latest player counts (JSON)

:css
  svg {
    background-color: black;
    border: 2px solid #AF7A30;
  }

  path {
    fill: none;
  }

  text {
    fill: white;
    font-weight: normal;
    font-size: 10px;
  }

  .x.axis line {
    stroke: white;
  }

  .axis label {
    fill: #CCC;
  }

  .x.axis .minor {
    stroke-opacity: 1;
  }

  .x.axis path {
    fill: none;
    stroke: white;
  }

  .y.axis line, .y.axis path {
    fill: none;
    stroke: white;
  }

  .label text {
    font-weight: normal;
    font-size: 10px;
  }

  .label rect {
    stroke: white;
  }

%script{:src => javascript_path('d3.min')}
%script{:src => javascript_path('popchart')}

:javascript
  popchart("#content", "#{@player_counts_url}");
