%h2.title Servers

%h3 Retail Servers
%ul
  %li
    %a{:href => "/Darktide/"} Darktide
  %li
    %a{:href => "/Frostfell/"} Frostfell
  %li
    %a{:href => "/Harvestgain/"} Harvestgain
  %li
    %a{:href => "/Leafcull/"} Leafcull
  %li
    %a{:href => "/Morningthaw/"} Morningthaw
  %li
    %a{:href => "/Thistledown/"} Thistledown
  %li
    %a{:href => "/Solclaim/"} Solclaim
  %li
    %a{:href => "/Verdantine/"} Verdantine
  %li
    %a{:href => "/WintersEbb/"} WintersEbb

- if @servers.length > 0
  %h3 Private Servers

  %p
    This is by no means an official or complete list of the available private servers.
    I keep this list to make the TreeStats website as useful as possible and I pick servers based upon whether the server has been around for a while, has a stable player base, and is likely to be around in the future. Note that my list is different than the <a href="https://github.com/acresources/serverslist">community list</a>.
  %p
    %a{:href => "https://forms.gle/sWY3uv8H5Migi7SM9"} Submit your server by filling out this form

  %table.listing
    %thead
      %tr
        %th Name
        %th Type
        %th Description
        %th Connect
        %th Info
    %tbody
      - @servers.each do |server|
        %tr
          %td
            %a{:href => "/#{server[:name]}"}= server[:name]
          %td= server[:type]
          %td= server[:description]
          %td= server[:address]
          %td
            - if server[:website]
              %a{:href => server[:website]} Website
            - if server[:discord]
              %a{:href => server[:discord]} Discord
