body
{
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #111;
  color: #fff;
  font-size: 14px;
  font-family: 'Open Sans', Sans-serif;
}

table
{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table, thead, tbody, tr, td {
  margin: 0;
  padding: 0;
}

#header
{
  height: 100px;
  margin: 0;
  padding: 0 0 0 15px;
  background-color: black;
  background-image: url('/images/bg_top.jpg');
  border-bottom: 2px solid #AF7A30;
  vertical-align: middle;
}

#header table {
  background: none;
}

#header h1
{
  margin: 0;
  padding: 0;
  font-size: 55px;
}

td.logo {
  width: 400px;
}

#search {
  width: 75%;
  padding: 6px;
  background-color: black;
}

#search form {
  display: inline;
}

#download {
  width: 25%;
  padding: 6px;
  background-color: black;
}

#nav
{
  width: 150px;
  min-width: 150px;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  border-top: 2px solid #AF7A30;
  border-right: 2px solid #AF7A30;
}

#content
{
  padding: 15px;
  background-color: #000022;
}

#footer
{
  font-size: 85%;
}

form {
  margin: 0;
  padding: 3px;
}

a
{
  color: white;
}

a:visited
{
  color: white;
}

span.block
{
  display: block;
}

span.title {
  font-size: 85%;
}

table.char {
  width: 100%;
  font-size: 13px;
}

td {
  vertical-align: top;
}

table.char tbody td {
  padding: 2px 4px 2px 4px;
}


table.char table.internal tbody td {
  padding: 0;
}

table.char tbody.skills td.skill_icon {
  padding: 0px 0px 0px 4px;
}

h2.title
{
  margin: 0 0 21px 0;
  color: gold;
}

#header a
{
  text-decoration: none;
  color: white;
}

#nav a
{
  text-decoration: none;
  color: #fff;
}

#nav h2
{
  margin: 0;
  padding: 3px;
  font-size: 14px;
  background-color: #0F3C3E;
  background: linear-gradient(to right, #0F3C3E, #0F3C3E, black);
}

#nav ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav ul, #nav form {
  margin-bottom: 0.5em;
}

#nav ul li
{
  padding: 1px 3px;
  font-size: 14px;
}



table.internal
{
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table.internal,
table.internal tr,
table.internal td,
table.internal span
{
  margin: 0;
  padding: 0;
}

table.xplum tr td {
  font-size: 85%;
}

tr.line
{
  border-bottom: 2px solid #AF7A30;
}

tr.colnames td {
  background-color: #222;
}

td.level
{
  width: 65px;
  border-left: 2px solid #AF7A30;
  font-size: 85%;
}

td.headerleft {
  background-color: #004000;
  background-color: rgba(0, 100, 0, 0.4);
}

td.headerright {
  background-color: #000040;
  background-color: rgba(0, 0, 100, 0.4);
}

td.gold {
  color: gold;
}

td.center
{
  text-align: center;
}

td.left {
  text-align: left;
}

td.right
{
  text-align: right;
}

td.vassal
{
  font-size: 90%;
}

td.skill_icon,
td.skill_name,
td.skill_base {
  padding: 0px;
}

td.attribs_name {
  width: 150px;
}

td.attribs_base {
  width: 90px;
}

td.skill_icon
{
  width: 10px;
}

td.skill_name {
  width: 100px;
}

td.skill_base {
  width: 50px;
}

span.name
{
  font-size: 110%;
}

span.level
{
  font-size: 200%;
  color: #FFF27F;
  margin-top: 0;
}

table.skills tbody td.specialized, table.skills tbody td.trained {
  height: 20px;
}

td.specialized
{
  width: 300px;
  background-color: purple;
  background: linear-gradient(to right, #392067, #392067, black);
 }

td.trained
{
  with: 300px;
  background-color: green;
  background: linear-gradient(to right, #0F3C3E, #0F3C3E, black);
}

tbody.attributes span.title, tbody.skills span.title {
  margin-bottom: 1em;
}

span.creation {
  color: #CCC;
}

div.last_updated {
  display: block;
  width: 100%;
  margin: 0 0 1.5em 0;
  padding: 0;
  font-size: 80%;
}

span.last_updated_name {
  display: inline;
  margin: 0;
  padding: 5px;
  background-color: #c00;
  color: #fff;
  border: 1px solid #CCC;
  font-weight: bold;
}

span.last_updated_text {
  display: inline;
  margin: 0;
  padding: 5px;
  background-color: black;
}

#chain {
  color: white;
  font-size: 14px;
}

span.overlaytext
{
  margin: 5px;
  font-size: 11px;
  color: #CCC;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.servergraph {
  float: left;
  margin-right: 1em;
}

.current_title {
  color: #00FF00;
}

/* Tab functionality */

.tabcontainer {
  display: block;
  float: left;
  width: 320px;
  height: 400px;
  margin: 0 1.5em 3em 0;
}

.tabcontainer.chain {
  width: 660px;
  height: 660px;
}

.tabcontainer.chain .box {
  overflow: visible;
  height: 660px;
  max-height: 660px;
}

.tabbar {
  height: 30px;
}

.box {
  background-color: black;
  color: white;
  border: 2px solid #AF7A30;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.tab {
  float: left;
  display: block;
  padding: 5px 5px;
  height: 18px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-align: center;
  cursor: pointer;
}

.tab.active {
  border-top: 2px solid #AF7A30;
  border-right: 2px solid #AF7A30;
  border-left: 2px solid #AF7A30;
  border-bottom: none;
  background-color: #004000;
  background-color: rgba(0, 100, 0, 0.4);
}

.tab.inactive {
  border-top: 2px solid #000022;
  border-right: 2px solid #000022;
  border-left: 2px solid #000022;
}

.box.active {
  display: block;
}

.box.inactive {
  display: none;
}

.box > span {
  font-size: 85%;
  margin: 5px;
}


/* Listings */

table.listing {
  width: 600px;
}

table.listing thead tr {
  border-bottom: 2px solid #AF7A30;
}

table.listing th, table.listing td {
  padding: 3px;
}

table.listing th {
  background-color: #392067;
}
